{% extends 'layout.html' %}

{% block content %}
<div class="row">
    <div class="col-6">
        <h5>Choose telescopes</h5>
        <p style="margin:0">The green ones are chosen</p>
        <form action="#">

            {% for antenna in antennas%}
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <input type="checkbox" id="cbx{{ forloop.counter0 }}" class="boxes" name="antenna{{ forloop.counter0 }}" value="{{ antenna }}">
                    </div>
                </div>
                <div class="input-group-append">
                    {% if antenna in active_antennas%}
                        <span class="input-group-text" style="background-color:limegreen">{{ antenna }}</span>
                    {% else %}
                        <span class="input-group-text">{{ antenna }}</span>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            <input type="submit" id="sub" class="btn btn-outline-secondary" style="margin-top:1%" name="submit_choose_antennas" value="Choose Antennas">
        </form>
        <br>
        <h5>Choose DAQ directory</h5>
        <form action="#">
            <div class="input-group">

            </div>
        </form>
    </div>
    <div class="col-6">
        <h5>Clear telescope Fault</h5>
        <p style="margin:0">Type in the rollover of the telescopes</p>
        <form action="#">
            {% for antenna in antennas %}
            <div class="input-group w-50">
                <input type="number" required min="-1" max="0" class="form-control" placeholder="Shed side" name="rollover{{forloop.counter0}}">
            </div>
            {% endfor %}
            <input type="submit" class="btn btn-outline-secondary" style="margin-top:1%" name="submit_clear_fault" value="Clear Fault">
        </form>
        <br>
        <form action="#">
            <div class="text-center">
                <input type="submit" class="btn btn-outline-secondary w-50" value="Halt Telescopes">
            </div>
        </form>
    </div>
</div>


{% endblock %}