{% extends 'registration/layout.html' %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Change Password</h5>
            {% if messages %}
              {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">{{ message }}</div>
              {% endfor %}
          {% endif %}
            <form class="form-signin" method="post">
              {% csrf_token %}
              <div class="form-label-group">
                <input class="form-control" type="password" name="old_password" autofocus="" required="" id="id_old_password" maxlength="254" placeholder="Old Password">
                <label for="id_old_password">Old Password</label>
                {{ form.old_password.errors }}
              </div>
              <div class="form-label-group">
                <input class="form-control" type="password" name="new_password1" required="" id="id_new_password1" placeholder="New Password">
                <label for="id_new_password1">New Password</label>
                {{ form.new_password1.errors }}
              </div>
              <div class="form-label-group">
                <input class="form-control" type="password" name="new_password2" required="" id="id_new_password2" placeholder="Confirm Password">
                <label for="id_new_password2">Confirm Password</label>
              </div>
              {% if form.new_password2.errors %}
                <div class="alert alert-danger">{{ form.new_password2.errors }}</div>
              {% endif %}
              <button class="btn btn-lg btn-block text-uppercase" style="background-color:#002147; color:white" type="submit">Save</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
