{% extends 'home/layout.html' %}

{% block scripts %}
<script>
  $(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
{% endblock %}

{% block content %}
    <ul class="nav nav-tabs" id="pointingtabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#move" role="tab" aria-controls="move" aria-selected="true">Move</a>
      </li>
      <li class="nav-item">
        <a href="#azel" class="nav-link" id="azel-tab" data-toggle="tab" role="tab" aria-controls="azel" aria-selected="false">AzEl</a>
      </li>
      <li class="nav-item">
        <a href="#radec" class="nav-link" id="radec-tab" data-toggle="tab" role="tab" aria-controls="radec" aria-selected="false">RaDec</a>
      </li>
      <li class="nav-item">
        <a href="#target" class="nav-link" id="target-tab" data-toggle="tab" role="tab" aria-controls="target" aria-selected="false">Target</a>
      </li>
      <li class="nav-item">
        <a href="#galactic" class="nav-link" id="galactic-tab" data-toggle="tab" role="tab" aria-controls="galactic" aria-selected="false">Galactic</a>
      </li>
    </ul>

    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="move" role="tabpanel" aria-labelledby="home-tab">
        <h4>Special positions</h4>
        <form action="#" class="mb-3">
          <input type="submit" class='btn btn-outline-secondary btn-md special_pos' data-delay='{"show":"200"}' data-toggle="tooltip" data-placement="bottom" data-html="true" title="Moves telescopes to: <br>az: 18, el: 90" name="home" value="Move Home Position">
          <input type="submit" class='btn btn-outline-secondary btn-md special_pos' data-delay='{"show":"200"}' data-toggle="tooltip" data-placement="bottom" title="Moves telescopes to elevation 90° at their azimuth" name="safety" value="Move Safety Position">
        </form>
        <h4>Shutdown control program</h4>
        <form action="#">
            <input type="submit" class='btn btn-outline-danger' name="quit" value="Shut down">
        </form>

      </div>
      <div class="tab-pane fade" id="azel" role="tabpanel" aria-labelledby="azel-tab">
        <h4>Move telescope to Azimuth and Elevation</h4>
        <div class="col-7">
            <form action="#">
              <div class="input-group">
                  <input type="number" step="0.01" required aria-label="Azimuth" name="az" size="2" placeholder="Azimuth" class="form-control">
                  <input type="number" step="0.01" required aria-label="Elevation" name="el" size="2" placeholder="Elevation" class="form-control">
                  <div class="input-group-append">
                    <input class="btn btn-outline-secondary" type='submit' name="moveazel" value="Move AzEl">
                  </div>
              </div>
            </form>
        </div>
      </div>

      <div class="tab-pane fade" id="radec" role="tabpanel" aria-labelledby="radec-tab">
        <h4>Move telescope to Right Ascension and Declination</h4>
        <div class="col-7">
            <form action="#">
                <div class="input-group">
                    <input type="time" step="1" required aria-label="Ra" name="ra" size="2" placeholder="Right Ascension" class="form-control">
                    <input type="text" required aria-label="Dec" name="dec" size="2" placeholder="Declination" class="form-control">
                    <div class="input-group-append">
                    <input class="btn btn-outline-secondary" type='submit' name="moveradec" value="Move RaDec">
                    </div>
                </div>
            </form>
        </div>
      </div>

      <div class="tab-pane fade" id="target" role="tabpanel" aria-labelledby="contact-tab">
        <h4>Move telescopes to target position</h4>
        <div class="col-7">
          <form action="#">
            <div class="input-group">
                <input type="text" required aria-label="Targetname" name="target" size="2" placeholder="Targetname" class="form-control">
                <div class="input-group-append">
                <input class="btn btn-outline-secondary" type='submit' name="movetarget" value="Move to target">
                </div>
            </div>
          </form>
        </div>
      </div>

      <div class="tab-pane fade" id="galactic" role="tabpanel" aria-labelledby="galactic-tab">
        <h4>Move telescopes to galactic coordinates</h4>
        <div class="col">
            <form action="#">
                <div class="input-group">
                    <input type="text" data-toggle="tooltip" data-placement="bottom" data-html="true" title="Allowed inputs: <br> float <br> string(format: 'Deg:min:sec')" required aria-label="long" name="gal_long" size="2" placeholder="Longitude" class="form-control">
                    <input type="text" data-toggle="tooltip" data-placement="bottom" data-html="true" title="Allowed inputs: <br> float <br> string(format: 'Deg:min:sec')" required aria-label="lat" name="gal_lat" size="2" placeholder="Latitude" class="form-control">
                    <div class="input-group-append">
                    <input class="btn btn-outline-secondary" type="submit" name="movegal" value="Move Galactic Coordinates">
                    </div>
                </div>
            </form>
        </div>
      </div>



    </div>


{% endblock %}