{% extends 'home/layout.html' %}

{% block content %}
    <ul class="nav nav-tabs" id="pointingtabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#move" role="tab" aria-controls="home" aria-selected="true">Move</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="azel-tab" data-toggle="tab" href="#azel" role="tab" aria-controls="profile" aria-selected="false">AzEl</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="radec-tab" data-toggle="tab" href="#radec" role="tab" aria-controls="contact" aria-selected="false">RaDec</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="target-tab" data-toggle="tab" href="#target" role="tab" aria-controls="contact" aria-selected="false">Target</a>
      </li>


    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="move" role="tabpanel" aria-labelledby="home-tab">
        <h4>Move telescopes in Home position</h4>
        <form action="#">
            <input type="submit" class='btn btn-outline-secondary' name="home" value="Move Home Position">
        </form>
        <h4>Shutdown control Program</h4>
        <form action="#">
            <input type="submit" class='btn btn-outline-danger' name="quit" value="Shut down">
        </form>

      </div>
      <div class="tab-pane fade" id="azel" role="tabpanel" aria-labelledby="azel-tab">
        <h4>Move telescope to Azimuth and Elevation</h4>
        <div class="col-7">
            <form action="#">
              <div class="input-group">
                  <input type="number" step="0.01" required aria-label="Azimuth" name="az" size="2" placeholder="Azimuth" class="form-control">
                  <input type="number" step="0.01" required aria-label="Elevation" name="el" size="2" placeholder="Elevation" class="form-control">
                  <div class="input-group-append">
                    <input class="btn btn-outline-secondary" type='submit' name="moveazel" value="Move Azel">
                  </div>
              </div>
            </form>
        </div>
      </div>
      <div class="tab-pane fade" id="radec" role="tabpanel" aria-labelledby="contact-tab">
        <h4>Move telescope to Right Ascension and Declination</h4>
        <div class="col-7">
            <form action="#">
                <div class="input-group">
                    <input type="time" step="1" required aria-label="Ra" name="ra" size="2" placeholder="Right Ascension" class="form-control">
                    <input type="text" required aria-label="Dec" name="dec" size="2" placeholder="Declination" class="form-control">
                    <div class="input-group-append">
                    <input class="btn btn-outline-secondary" type='submit' name="moveradec" value="Move Radec">
                    </div>
                </div>
            </form>
        </div>
      </div>
      <div class="tab-pane fade" id="target" role="tabpanel" aria-labelledby="contact-tab">
        <h4>Move telescopes to target position</h4>
        <div class="col-7">
          <form action="#">
            <div class="input-group">
                <input type="text" required aria-label="Targetname" name="target" size="2" placeholder="Targetname" class="form-control">
                <div class="input-group-append">
                <input class="btn btn-outline-secondary" type='submit' name="movetarget" value="Move to Target">
                </div>
            </div>
          </form>
        </div>
      </div>

    </div>


{% endblock %}