<div class="row roach_row">
  <div class="col-md readout">
    {% if roach.running %}
      <svg id="mpl" version="1.1" viewBox="0 0 504 360" width="100%" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      </svg>
      <script>
          function load_roach(){
              $("#mpl").load("roach_plot #figure_1");
          };
          load_roach()
          setInterval(load_roach,1000)
      </script>
      {% else %}
      <h6>Roachboard Readout is currently not running</h6>
    {% endif %}

  </div>
    <div class="col-md settings">
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">FPGA connection</div>
        </div>
        <div class="input-group-text" style="{% if roach.connected %}color:limegreen {% else %} color:red {% endif %}">
          {% if roach.connected %}
            Connected
          {% else %}
            Disconnected
          {% endif %}
        </div>
      </div>
      <ul class="nav nav-tabs mb-2" id="roach-tabs" aria-disabled="true" {% if not roach.running %} onclick="setTimeout(check_roach_tabs,200)" {% endif %}>
        <li class="nav-item">
          <a href="#spectrum" class="nav-link {% if not roach.running or roach.running and roach.mode == 'spectrum' %} active {% endif %} {% if roach.running %}disabled {% endif %}" id="spectrum-tab" data-toggle="tab" aria-controls="spectrum" aria-selected="true">Spectrum</a>
        </li>
        <li class="nav-item">
          <a href="#power" class="nav-link {% if roach.running %}disabled {% if roach.mode == 'power' %} active {% endif %} {% endif %}" id="power-tab" data-toggle="tab" aria-controls="power" aria-selected="false">Power</a>
        </li>
      </ul>
      <div class="tab-content" id="roachTabContent" style="height:300px">
        <div class="tab-pane fade {% if not roach.running or roach.running and roach.mode == 'spectrum' %} show active {% endif %}" id="spectrum" role="tabpanel" aria-labelledby="spectrum-tab">
          <form action="" method="post">
            {% csrf_token %}
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <label class="input-group-text" for="select_bof">Boffile</label>
              </div>
              <select class="custom-select" id="select_bof" {% if roach.running %} disabled {% endif %} name="select_bof">
                {% if roach.running %}
                <option selected>{{ roach.boffile }}</option>
                {% else %}
                <option selected>Choose file...</option>
                {% for bof in roach.boffiles.spectrum %}
                <option value="{{ forloop.counter0 }}">{{ bof }}</option>
                {% endfor %}
                {% endif %}
              </select>
            </div>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">Accumulation Length</div>
              </div>
              <input type="text" class="form-control" {% if roach.running%} disabled placeholder="{{ roach.acc_len }}"{% else %} placeholder="Default: 2**19 (=524288)" {% endif %} name="tbx_acc_len">
            </div>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">Gain</div>
              </div>
              <input type="text" class="form-control" {% if roach.running%} disabled placeholder="{{ roach.gain }}"{% else %} placeholder="Default: 0x0fffffff" {% endif %} name="tbx_gain">
            </div>
            <div class="input-group mb-2">
              <div class="input-group-prepend"  data-toggle="tooltip" data-placement="top" data-html="true" title="<strong>!Important</strong>: The range of the saved data equals the chosen x limits at the beginning of the readout. You can't change it during the readout">
                <div class="input-group-text">
                  <input type="checkbox" id="cbx_save_roach" class="boxes" {% if roach.running %} disabled {% endif %} {% if roach.save_data %} checked {% endif %}name="cbx_save_roach" value="Save Data" >
                </div>
              </div>
              <div class="input-group-prepend">
                <div class="input-group-text">Save Data</div>
              </div>
                <input type="text" {% if roach.running %} disabled {% if roach.save_data %} placeholder="{{ roach.filename }}" {% else %} placeholder="" {% endif %} {% else %} placeholder="Filename" {% endif %} name="tbx_filename" class="form-control">
            </div>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">Plot limits (x)</div>
              </div>
              <input type="number" step="0.01" class="form-control" name="tbx_xlim_min" {% if roach.running %} placeholder="{{ roach.plot_xlim.0 }}" {% else %} placeholder="Min default: 13750" {% endif %}>
              <input type="number" step="0.01" class="form-control" name="tbx_xlim_max" {% if roach.running %} placeholder="{{ roach.plot_xlim.1 }}" {% else %} placeholder="Max default: 13800" {% endif %}>
            </div>

            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">Plot limits (y)</div>
              </div>
              <input type="number" step="0.01" class="form-control" name="tbx_ylim_min" {% if roach.running %} placeholder="{{ roach.plot_ylim.0 }}" {% else %} placeholder="Min default: -84" {% endif %}>
              <input type="number" step="0.01" class="form-control" name="tbx_ylim_max" {% if roach.running %} placeholder="{{ roach.plot_ylim.1 }}" {% else %} placeholder="Max default: -83" {% endif %}>
            </div>
            {% if roach.running %}
            <input type="submit" class="btn btn-outline-secondary" name="submit_change_lims" value="Change plot limits">
            <input type="submit" class="btn btn-outline-danger" name="submit_stop_readout" value="Stop Readout">
          {% else %}
            <input type="submit" class="btn btn-outline-secondary" name="submit_start_readout" value="Connect and start spectrum readout">
          </form>
          <br>
          {% endif %}
        </div>
        <div class="tab-pane fade {% if roach.running and roach.mode == 'power' %} show active {% endif %}" id="power" role="tabpanel" aria-labelledby="profile-tab">
          <form action="#" method="post">
            {% csrf_token %}
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <label class="input-group-text" for="select_bof">Boffile</label>
              </div>
              <select class="custom-select" id="select_bof_power" {% if roach.running %} disabled {% endif %} name="select_bof">
                {% if roach.running %}
                <option selected>{{ roach.boffile }}</option>
                {% else %}
                <option selected>Choose file...</option>
                {% for bof in roach.boffiles.power %}
                <option value="{{ forloop.counter0 }}">{{ bof }}</option>
                {% endfor %}
                {% endif %}
              </select>
            </div>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">Accumulation Length</div>
              </div>
              <input type="text" class="form-control" {% if roach.running%} disabled placeholder="{{ roach.acc_len }}"{% else %} placeholder="Default: 2**18 (=262144)" {% endif %} name="tbx_acc_len">
            </div>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">Gain</div>
              </div>
              <input type="text" class="form-control" {% if roach.running%} disabled placeholder="{{ roach.gain }}"{% else %} placeholder="Default: 0x0fffffff" {% endif %} name="tbx_gain">
            </div>
            <div class="input-group mb-2">
              <div class="input-group-prepend" data-toggle="tooltip" data-placement="top" data-html="true" title="<strong>!Important</strong>: The range of the saved data equals the chosen x limits at the beginning of the readout. You can't change it during the readout">
                <div class="input-group-text">
                  <input type="checkbox" id="cbx_save_roach_power" class="boxes" {% if roach.running %} disabled {% endif %} {% if roach.save_data %} checked {% endif %}name="cbx_save_roach" value="Save Data" >
                </div>
              </div>
              <div class="input-group-prepend">
                <div class="input-group-text">Save Data</div>
              </div>
                <input type="text" {% if roach.running %} disabled {% if roach.save_data %} placeholder="{{ roach.filename }}" {% else %} placeholder="" {% endif %} {% else %} placeholder="Filename" {% endif %} name="tbx_filename" class="form-control">
            </div>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">Power range</div>
              </div>
              <input type="number" step="0.01" class="form-control" name="tbx_xlim_min" {% if roach.running %} disabled placeholder="{{ roach.plot_xlim.0 }}" {% else %} placeholder="Min default: 13750" {% endif %}>
              <input type="number" step="0.01" class="form-control" name="tbx_xlim_max" {% if roach.running %} disabled placeholder="{{ roach.plot_xlim.1 }}" {% else %} placeholder="Max default: 13800" {% endif %}>
            </div>

            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">Plot limits (y)</div>
              </div>
              <input type="number" step="0.01" class="form-control" name="tbx_ylim_min" {% if roach.running %} {% if roach.mode == 'spectrum' %} disabled {% endif %} placeholder="{{ roach.plot_ylim.0 }}" {% else %} placeholder="Min default: -67" {% endif %}>
              <input type="number" step="0.01" class="form-control" name="tbx_ylim_max" {% if roach.running %} {% if roach.mode == 'spectrum' %} disabled {% endif %} placeholder="{{ roach.plot_ylim.1 }}" {% else %} placeholder="Max default: -66" {% endif %}>
            </div>
          {% if roach.running %}
            <input type="submit" class="btn btn-outline-secondary" name="submit_change_lims" value="Change plot limits">
            <input type="submit" class="btn btn-outline-danger" name="submit_stop_readout" value="Stop Readout">
          {% else %}
            <input type="submit" class="btn btn-outline-secondary" name="submit_start_power_readout" value="Connect and start power readout">
          </form>
          <br>
          {% endif %}
        </div>
      </div>
    </div>
</div>

<script>
    function check_roach_tabs(){
      $('#roachTabContent .tab-pane.fade input').attr("disabled", true);
      $('#roachTabContent .tab-pane.fade select').attr("disabled", true);
      $('#roachTabContent .tab-pane.fade.show.active input').removeAttr("disabled");
      $('#roachTabContent .tab-pane.fade.show.active select').removeAttr("disabled");
    };
    {% if not roach.running %}
    //check_roach_tabs();
    {% endif %}

</script>