{% extends 'home/layout.html' %}
{% block scripts %}
{% load static %}

  <script src="{% static 'home/js/sorttable.js' %}"></script>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col" style="margin-bottom:2%">
    <h2>Target Observation</h2>
  </div>
</div>
<form action="#">
<div class="row">
  <div class="col-md-5">
  <div class="input-group" id="">
    <div class="input-group">
      <select class="custom-select select_target" onchange="select()" id="select_target" name="select_target">
        <option selected value="target">Target</option>
        <option value="radec">Right ascension, Declination</option>
        <option value="azel">Azimuth, Elevation</option>
        <option value="gal">Galactic coordinates</option>
      </select>
    </div>
  </div>
  <div class="input-group mb-2" id="target_position" onload="select()">
</div>
  <div class="input-group mb-1">
    <div class="input-group-prepend">
      <div class="input-group-text">Duration</div>
    </div>
    <input type="number" required class="form-control" size="7" placeholder="minutes" name="duration" id="duration">
  </div>
  <div class="input-group">
    <div class="input-group-prepend">
      <div class="input-group-text">Start Time</div>
    </div>
    <input type="time" step="1" class="form-control" name="start_time" id="startTime">
  </div>
  </div>

  <div class="col-md-7">
    <ul class="nav nav-tabs track_nav mb-3" id="myTab" role="tablist" onclick="setTimeout(check_tabs,250)">
      <li class="nav-item">
          <a class="nav-link active" id="track-tab" data-toggle="tab" href="#track" role="tab" aria-controls="track" aria-selected="true">Track</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" id="cross-tab" data-toggle="tab" href="#cross" role="tab" aria-controls="cross" aria-selected="false">Cross</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" id="lissajaous-tab" data-toggle="tab" href="#lissajous" role="tab" aria-controls="lissajous" aria-selected="false">Lissajous</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" id="pong-tab" data-toggle="tab" href="#pong" role="tab" aria-controls="pong" aria-selected="false">Pong</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" id="raster-tab" data-toggle="tab" href="#raster" role="tab" aria-controls="raster" aria-selected="false">Raster</a>
      </li>
    </ul>
    <div class="tab-content" id="observation_modes">
      <div class="tab-pane fade show active" id="track" role="tabpanel" aria-labelledby="track-tab">
          <input type="submit" class="btn btn-outline-secondary" name="submit_track" value="Start Track">
      </div>
      <div class="tab-pane fade" id="cross" role="tabpanel" aria-labelledby="cross-tab">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">Cross arm length</div>
          </div>
          <input type="number" required class="form-control" size="6" placeholder="az" name="az_cross">
          <input type="number" required class="form-control" size="6" placeholder="el" name="el_cross">
        </div>
        <br>
        <input type="submit" class="btn btn-outline-secondary" name="submit_cross" value="Start Cross">
      </div>

      <div class="tab-pane fade" id="lissajous" role="tabpanel" aria-labelledby="lissajous-tab">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">Frame size</div>
          </div>
          <input type="number" required step="0.5" class="form-control" size="5" placeholder="az" name="az_frame_lissajous">
          <input type="number" required step="0.5" class="form-control" size="5" placeholder="el" name="el_frame_lissajous">
        </div>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">Omega (&deg;/s)</div>
          </div>
          <input type="number" step="0.1" class="form-control" size="1" placeholder="az, default:3" name="az_omega">
          <input type="number" step="0.1" class="form-control" size="1" placeholder="el, default:2" name="el_omega">
        </div>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">Phi (&deg;/s)</div>
          </div>
          <input type="number" step="0.1" class="form-control" size="5" placeholder="az, default: 0" name="az_phi">
          <input type="number" step="0.1" class="form-control" size="5" placeholder="el, default: 0" name="el_phi">
        </div>
        <br>
        <input type="submit" class="btn btn-outline-secondary" name="submit_lissajous" value="Start Lissajous">
      </div>
      <div class="tab-pane fade" id="pong" role="tabpanel" aria-labelledby="pong-tab">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">Frame size</div>
          </div>
          <input type="number" required step="0.5" class="form-control" size="5" placeholder="az" name="az_frame_pong">
          <input type="number" required step="0.5" class="form-control" size="5" placeholder="el" name="el_frame_pong">
        </div>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">Start off</div>
          </div>
          <input type="number" step="0.1" class="form-control" size="1" placeholder="az, default: 0" name="az_start">
          <input type="number" step="0.1" class="form-control" size="1" placeholder="el, default: 0" name="el_start">
        </div>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">Start angle</div>
          </div>
          <input type="number" step="0.1" class="form-control" size="5" placeholder="default: 30" name="start_angle">
        </div>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">Velocity (&deg;/s)</div>
          </div>
          <input type="number" step="0.1" class="form-control" size="5" placeholder="default: 1" name="velocity">
        </div>
        <br>
        <input type="submit" class="btn btn-outline-secondary" name="submit_pong" value="Start Pong">

      </div>
      <div class="tab-pane fade" id="raster" role="tabpanel" aria-labelledby="raster-tab">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">Frame size</div>
          </div>
          <input type="number" required step="0.5" class="form-control" size="5" placeholder="az" name="az_frame_raster">
          <input type="number" required step="0.5" class="form-control" size="5" placeholder="el" name="el_frame_raster">
        </div>
        <div class="input-group">
          <div class="input-group-prepend">
          <div class="input-group-text">Number of lines</div>
          </div>
          <input type="number" class="form-control" placeholder="default: 4" name="raster_lines">
        </div>
        <div class="input-group" style="margin-top:1%">
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary active">
              <input type="radio" name="first" value="True" id="firstaz" checked>First Azimuth
            </label>
            <label class="btn btn-secondary">
              <input type="radio" name="first" value="False" id="firstel">First Elevation
            </label>
          </div>
        </div>
        <br>
        <input type="submit" class="btn btn-outline-secondary" name="submit_raster" value="Start Raster">
      </div>
    </div>
  </div>
</div>
</form>
<div class="row align-items-end" style="margin-top:3%">
  <div class="col-8">
    <h5>Targets in range</h5>
    <script>
      $(document).ready(function(){
        $("#search").on("keyup", function() {
          var value = $(this).val().toLowerCase();
          $("#inRange tr").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
          });
        });
      });
    </script>
    <form action="#">
    <div class="input-group" style="margin-bottom:1%">
      <div class="input-group-prepend">
        <div class="input-group-text">
          <img src="{% static 'home/svg/search.svg' %}" alt="search">
        </div>
      </div>
      <input type="text" required class="form-control" id="search" onkeyup="myFunction()" name="check_target_tbx" placeholder="targetname">
      <input type="time" step="1" class="form-control" name="check_tmsp_tbx">
    <div class="input-group-append">
      <input type="submit" class="btn btn-outline-secondary" value="Check Target" name="check_target">
    </div>
    </div>
    </form>
    {% if checked %}
      <div class="modal fade" id="checked_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content" style="background-color: #e6e6e6">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">
                {% if target_ok%}
                  {% if tmsp %}
                    Position of {{ target_ok }} at {{ tmsp }}
                  {% else %}
                    Current position of {{ target_ok }}
                  {% endif %}
                {% else %}
                  <span style="color:red">Error</span>
                {% endif %}
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              {% if target_error %}
                <h6>{{target_error}}</h6>
              {% endif %}
              {% if target_ok %}
                <table class="table table-hover table-active">
                  <thead>
                    <tr>
                      <th scope="col">Antenna#</th>
                      <th scope="col">Azimuth</th>
                      <th scope="col">Elevation</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for antenna, az,el in azel %}
                    <tr>
                      <th scope="row">{{ antenna }}</th>
                      <td>{{az}}</td>
                      <td>{{el}}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              {% endif %}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <script>
        $(window).on('load',function(){
        $('#checked_modal').modal('show');
        });
      </script>
    {% endif %}
  </div>
  <div class="col-4" style="text-align:right">

    <p style="text-align:right"><strong>Last updated: {{ update_time }}</strong></p>
  </div>
</div>
<div class="row">
  <div class="col">
      <table class="table table-hover table-active scroll sortable">
        <thead>
          <tr>
            <th>Target</th>
            <th>Azimuth</th>
            <th>Elevation</th>
          </tr>
        </thead>
        <tbody id="inRange">
        {% for target, az, el in in_range %}
          <tr>
            <td>{{ target }}</td>
            <td>{{ az }}</td>
            <td>{{ el }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
  </div>
</div>
<div class="row">
  <div class="col" style="margin-top:3%">
    <h5>Track Queue</h5>
      <div class="table-vertical-scroll">
      <table class="table table-hover table-active table-head">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Target</th>
            <th scope="col">Duration</th>
            <th scope="col">startTime</th>
            <th scope="col">Mode</th>
            <th scope="col" style="text-align:right">Stop/Delete</th>
          </tr>
        </thead>
        <tbody>
          {% if current_track %}
            <tr>
              <th scope="row">Current</th>
                <td><b>{{ current_track.target }}</b></td>
                <td><b>{{ current_track.duration }}</b></td>
                <td><b>{{ current_track.startTime }}</b></td>
                <td><b>{{ current_track.mode }}</b></td>
                <td style="text-align:right">
                  <a href="/track?del_track=current" class="x_link">
                      <img src="{% static 'home/svg/x.svg' %}" class="x_default" width="12%" alt="">
                      <img src="{% static 'home/svg/x_hover.svg' %}" class="x_hover" width="12%" alt="">
                  </a>
                </td>
            </tr>
          {% else %}
          <tr>
            <th colspan="6" style="text-align:center">No Current track</th>
          </tr>
          {% endif %}
          {% for track in pending_tracks %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ track.0 }}</td>
            <td>{{ track.1 }}</td>
            <td>{{ track.3 }}</td>
            <td>{{ track.5 }}</td>
            <td style="text-align:right">
              <a href="/track?del_track={{forloop.counter0}}#" class="x_link">
                <img src="{% static 'home/svg/x.svg' %}" class="x_default" width="12%" alt="">
                <img src="{% static 'home/svg/x_hover.svg' %}" class="x_hover" width="12%" alt="">
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
</div>
    {% if current_track %}
    <form action="#">
      <input type="submit" class="btn btn-outline-danger" style="float:right; margin:5px 10px 0 0" name="stop_all_tracks" value="Stop all tracks">
    </form>
    {% endif %}
  </div>
</div>
{% block bodyscripts %}
<script>
  function select(){
    // This function changes the input fields according to the chosen coordinate system
    var x = document.getElementById("select_target").value;
    var out = document.getElementById("target_position");
    if (x == "target"){
      out.innerHTML = `<input type="text" required aria-label="Targetname" name="target" size="2" placeholder="Targetname" class="form-control">`;
    }
    if (x == "radec"){
      out.innerHTML =`<input type="time" step="1" required aria-label="Ra" name="ra" size="2" placeholder="Right Ascension" class="form-control">
                      <input type="text" required aria-label="Dec" name="dec" size="2" placeholder="Declination" class="form-control" data-toggle="tooltip" data-placement="top" data-html="true" title="Allowed inputs: <br> float (decimal degrees) <br> string(format: 'Deg:min:sec')" data-delay='{"show":"200"}'>`;
    }
    if (x == "azel"){
      out.innerHTML =`<input type="text" step="0.01" required aria-label="Azimuth" name="az" size="2" placeholder="Azimuth" class="form-control" data-toggle="tooltip" data-placement="top" data-html="true" title="Allowed inputs: <br> float (decimal degrees) <br> string(format: 'Deg:min:sec')" data-delay='{"show":"200"}'>
                      <input type="text" step="0.01" required aria-label="Elevation" name="el" size="2" placeholder="Elevation" class="form-control" data-toggle="tooltip" data-placement="top" data-html="true" title="Allowed inputs: <br> float (decimal degrees) <br> string(format: 'Deg:min:sec')" data-delay='{"show":"200"}'>`;
    }
    if (x == 'gal'){
      out.innerHTML =`<input type="text" data-toggle="tooltip" data-placement="bottom" data-html="true" title="Allowed inputs: <br> float (decimal degrees) <br> string(format: 'Deg:min:sec')" required aria-label="lat" name="gal_long" size="2" placeholder="Longitude" class="form-control" data-delay='{"show":"200"}'>
                    <input type="text" data-toggle="tooltip" data-placement="bottom" data-html="true" title="Allowed inputs: <br> float (decimal degrees) <br> string(format: 'Deg:min:sec')" required aria-label="long" name="gal_lat" size="2" placeholder="Latitude" class="form-control" data-delay='{"show":"200"}'>`;
    }
    $(function () {
    $('[data-toggle="tooltip"]').tooltip()})
  };
  select();
  function check_tabs(){
    $('#observation_modes .tab-pane.fade input').attr("disabled", true);
    $('#observation_modes .tab-pane.fade.show.active input').removeAttr("disabled");
  };
  check_tabs();

</script>
{% endblock %}

{% endblock %}
