body {
    background-color:#e6e6e6;

}

h6{
    text-align:center;
    margin-top:2%;
}

.main_container{
}

.header{
    background-color: #002147;
    color: white;
    padding: 0.5% 0 0.5% 1%;
}

.logout{
    text-align:right;
    margin-right:2rem;
}

.logout .btn{
    background-color:#002147;
    color:#e6e6e6;
    border:2px solid #e6e6e6;
}

.headerlink{
    color:#e6e6e6;
}

.headerlink:hover{
    color: white;
    text-decoration:none;
}

.head_row{
    color: white;
}

.main_col {
    padding: 20px 10px 10px 20px;
}

.main_nav {
    background-color: #002147;
}

.nav_col {
}

.nav_row {
    background-color: #002147;
    color: white;
    padding-left: 2%;
    border-bottom: 2px solid white;
    border-top: 1px solid white;
}

.control_col{
    padding-bottom: 15px;
    border-bottom: 2px solid white;
}

.control_row{
    padding: 1% 0 0 1%;
}

.select_target{
    background-color:#e9ecef !important;
}

.select_target:hover{
    background-color:#6c757d !important;
    border:#6c757d;
    color:white;
}

.special_pos{
    display: inline-block;
}

.tab-pane{
    margin-top:1.5%;
    height:200px;
}

.status_col {
    border-left:2px solid white;
    border-bottom: 2px solid white;
}
.readout{
    padding:0;
}

.mpl{
    width:600px !important;
}

.roach_row{
    margin: 0.5% 0 2% 0;
}

.table-vertical-scroll{
    display:block;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    max-height: 250px;
}

.table-vertical-scroll tbody{
    table-layout:fixed;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    }

.table-vertical-scroll thead{
    table-layout:fixed;
}

thead{
    background-color: #002147;
    color:white;
    margin: 0 0 0 0;
    cursor: default;
}

.x_link .x_hover {
  display: none;
}
.x_link:hover .x_default,
.x_link:active .x_default{
  display: none;
}
.x_link:hover .x_hover,
.x_link:active .x_hover{
  display: inline;
  text-align:right;
}

table.scroll {
    /* border-collapse: collapse; */
    border-spacing: 0;
}

table.scroll tbody,
table.scroll thead { display: block; }

table.scroll thead tr th {
    height: 30px;
    line-height: 30px;
}

table.scroll tbody {
    height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

table.scroll tbody td, table.scroll thead th {
    width:60%
}